<h1><%= t('view_title.models.task.show') %></h1>
<p><%= t('activerecord.attributes.task.name') %>: <%= @task.name %></p>
<p><%= t('activerecord.attributes.task.content') %>: <%= @task.content %></p>
<p><%= t('activerecord.attributes.task.created_at') %>: <%= @task.created_at %></p>
<%= link_to t('link_name.models.task.index'), tasks_path %>
