<!DOCTYPE html>
<html>
  <head>
    <title>ManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap_override', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='wrapper'>
      <nav class="navbar navbar-light navbar-fixed-top bg-info">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only">Bootstrap</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <% if logged_in? %>
            <% if admin?(@current_user) %>
              <ul class="nav navbar-nav navbar-left">
                <li><%= link_to t('view_title.models.user.index'), admin_users_path %></li>
                <li><%= link_to t('view_title.models.user.new'), new_admin_user_path %></li>
                <li><%= link_to t('view_title.models.label.index'), labels_path %></li>
              </ul>
            <% end %>
            <div id="gnavi" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= t('current_user') %> : <%= current_user.name %>
                  <% if admin?(@current_user) %>
                    (<%= t('admin') %>)
                  <% else %>
                    (<%= t('public') %>)
                  <% end %>
                </li>
                <li><%= link_to t('link_name.models.task.index'), tasks_path %></li>
                <li><%= link_to t('link_name.models.task.new'), new_task_path %></li>
                <li><%= link_to "Profile", user_path(current_user.id) %></li>
                <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
              </ul>
            </div>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <div id="gnavi" class="collapse navbar-collapse">
                <%= link_to "Sign up", new_user_path %>
                <%= link_to "Login", new_session_path %>
              </div>
            </ul>
          <% end %>
        </div>
      </nav>
      <div class='article'>
        <div class='text-center'>
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
